{% extends 'base.html' %}
{% block content %}
    <div class="container">
       <div class="col-md-12">
          <br><br><br><br>
          <h1 class="titulo">Bienvenido al editor de narrativas geolocalizadas.</h1>
          <hr>
          <div class="row">
             <div class="col-md-6 col-md-offset-4">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" height="250" vspace="40">
             </div>
          </div>
       </div>
    </div>

    <script type="text/javascript">
          $( document ).ready(function(){
            GET_server_status();
          });

          function GET_server_status(){
            var STATUS_REST_URL = "/rest/status";
            $.ajax({
              url: STATUS_REST_URL,
              type: 'GET',
              dataType: 'json',
              success: function (status_json){
                $("#desarrollador").html("<b>Desarrollador:</b> " + status_json.desarrollador);
                $("#email").html("<b>Email:</b> " + status_json.email);
                $("#twitter").html("<b>Twitter:</b> " + status_json.twitter);
                $("#server_repository").html("<b>Repositorio GitHub del servidor:</b> " + "<a href=" + status_json.server_repository + ">" + status_json.server_repository + "</a>");
                $("#app_repository").html("<b>Repositorio GitHub de la app:</b> " + "<a href=" + status_json.app_repository + ">" + status_json.app_repository + "</a>");
              },
              error: function (request, message, error){
                console.log("Error performing GET on " + STATUS_REST_URL);
              }
            });
          }
     </script>
  </body>
</html>
{% endblock %}
