#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

h1.titulo, h3.titulo{
    text-align: center;
}

img.img_perfil {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border: 1px double;
}

div#see-misiones-tab {
    width: 80%;
    margin: auto;
}

input.centrar {
    margin: auto;
    display: block;
}

label#error_pass {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    display: none;
}

label#error_pass2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    display: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

div#div_preguntas_prueba, div#bloque_prueba  {
    display: none;
}

