{% extends 'base.html' %}
{% block content %}
      <div class="container">
         <div class="col-md-12">
            <br><br>
            <h1 class="titulo">Tabla de usuarios.</h1>
            <hr>
            <table border = 1 class="table table-striped">
               <thead>
                  <td>email</td>
                  <td>nombre</td>
                  <td>password</td>
                  <td>rol</td>
                  <td>urlpassword</td>
               </thead>

               {% for row in rows %}
                  <tr>
                     <td>{{row["email"]}}</td>
                     <td>{{row["nombre"]}}</td>
                     <td> {{ row["password"]}}</td>
                     <td>{{row['rol']}}</td>
                     <td>{{row['urlpassword']}}</td>
                  </tr>
               {% endfor %}
            </table>
      </div>
   </div>

{% endblock %}
